#desktop {display: block;}
#mobile {display: none;}

@media screen and (max-width: 768px) {

#desktop {display: none;}
#mobile {display: block;}

}

#hidden {
   color: #000;
   text-decoration: none;
}

#buttonGame {
    position: absolute;
    display: inline-block;
    padding: 15px 25px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    font-size: large;
    background-color: #0B0B61;
}

#menu #at {
    background-color: #848484;
}

#menutxt {
    padding: 10px;
    background-color: #424242;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: x-large;
    text-decoration: none;
    font-weight: bold; 
}

#menu {
        height: 100%;
        position:fixed;      
        margin: 0px;
        padding: 0px;          
        background-color: #424242;        
    }


#menu a {
    display: block;   
    background-color: #424242;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;     
    text-decoration: none;
    font-weight: bold; 
}

#menu a:hover {
    display: block;    
    background-color: #084B8A;
    color: #fff;
}


