* {
    font-family: Arial, Helvetica, sans-serif;
    }
    
.desktop {
    display: block;
    font-size: 2vw
    }
.mobile {
    display: none;
    font-size: 3vw
    }

@media (hover:none), (hover:on-demand) {

.desktop {display: none;}
.mobile {display: flex;}

}


/* Style the navigation menu */
#mobileMenu {
  overflow: hidden;
  background-color: #424242;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly; 
}

/* Hide the links inside the navigation menu (except for logo/home) */
#mobileMenu  #myLinks {
  display: none;
}

/* Style navigation menu links */
#mobileMenu  a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

#mobileMenu  a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
#mobileMenu  a:hover {
  background-color: #084B8A;
}

.active {
  background-color: #848484;
  color: white;
}

#hidden {
   color: #000;
   text-decoration: none;
}

#buttonGame {
    position: absolute;
    display: inline-block;
    padding: 15px 25px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    font-size: large;
    background-color: #0B0B61;
}

#menu #at {
    background-color: #848484;
}

#menutxt {
    padding: 10px;
    background-color: #424242;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 3vw;
    text-decoration: none;
    font-weight: bold; 
}

#menu {
        height: 100%;
        position:fixed;      
        margin: 0px;
        padding: 0px;          
        background-color: #424242;        
    }


#menu a {
    display: block;   
    background-color: #424242;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;     
    text-decoration: none;
    font-weight: bold; 
}

#menu a:hover {
    display: block;    
    background-color: #084B8A;
    color: #fff;
}


